// ----------------------------------------------
// CLEARFIX
// ----------------------------------------------

@mixin clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ----------------------------------------------
// HIGHLIGHT CONTENT
// ----------------------------------------------

@mixin show {
  border: solid red 1px;
}
