// ----------------------------------------------
// MEDIA QUERY BREAKPOINTS
// ----------------------------------------------

$medium-break: 768px;
$large-break: 1224px;

// ----------------------------------------------
// BASE FONT STYLES
// ----------------------------------------------

$base__font--family: Lato;
$base__font--size: 17px;
$base__font--color: #929292;

// ----------------------------------------------
// BUTTON COLORS
// ----------------------------------------------

$btn-color:(
  'default': #4EDFF2,
  'success': #64CB82,
  'error': #E4757B,
  'warning': #FD775B,
  'info': #927BC3,
);

// ----------------------------------------------
// GRID COLORS
// ----------------------------------------------

$grid-color:(
  'col-3': #DCB2EF,
  'col-4': #80E6FA,
  'col-5': #89D99C,
  'col-6': #38AEC8,
  'col-7': #D9A3A1,
  'col-8': #FE9E83,
  'col-12': #80E7D1,
);
