// ----------------------------------------------
// BTN STYLES
// ----------------------------------------------

[class^="btn--"] {
  display: block;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 1.5em;
  border-radius: 5px;
  border: none;
  padding: 15px;
  width: 95%;
} // also targets the login button

.btn--info {
  margin-bottom: 2em;
}

// ----------------------------------------------
// BTN THEME COLORS
// ----------------------------------------------

.btn--default.theme__colors {
  background-color: map-get($btn-color,'default');
}

.btn--success.theme__colors {
  background-color: map-get($btn-color,'success');
}

.btn--error.theme__colors {
  background-color: map-get($btn-color,'error');
}

.btn--warning.theme__colors {
  background-color: map-get($btn-color,'warning');
}

.btn--info.theme__colors {
  background-color: map-get($btn-color,'info');
}

// ----------------------------------------------
// MEDIA QUERIES - MEDIUM
// ----------------------------------------------

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  @include mq(medium) {
    max-width: 40em;
  }
}

// ----------------------------------------------
// MEDIA QUERIES - LARGE
// ----------------------------------------------

.grid__col--12 .btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  @include mq(large) {
    @include fb(inline-row) {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 15px 50px;
    } // @include fb end
  } // @inlclude mq end
}

.grid__col--12 .btn--default {
  @include mq(large) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.btn--success,
.btn--error,
.btn--warning {
  @include mq(large) {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
}

.btn--info {
  @include mq(large) {
    margin-left: 1em;
    margin-right: 1em;
  }
}
