// ----------------------------------------------
// NAV ITEM STYLES
// ----------------------------------------------

.nav__item {
  @extend %nav-items;
}

// ----------------------------------------------
// NAV ITEM ANCHOR STYLES
// ----------------------------------------------

.nav__item a {
  @extend %nav-anchors;
}

.nav__item a:hover {
  @extend %nav-hover;
}

// ----------------------------------------------
// MEDIA QUERIES - MEDIUM
// ----------------------------------------------

.nav {
  @include mq(medium) {
    @include fb(row);
  }
}

.nav__item {
  @include mq(medium) {
    margin: auto;
  }
}

// ----------------------------------------------
// MEDIA QUERIES - LARGE
// ----------------------------------------------

.nav {
  @include mq(large) {
    @include fb(inline-row) {
      margin: auto;
      margin-left: 14em;
      margin-top: 1.2em;
    } // @include fb end
  } // @include mq end
}

.nav__item {
  @include mq(large) {
    margin-right: 0.7em;
  }
}
