// ----------------------------------------------
// CONTAINER STYLES
// ----------------------------------------------

.container {
  font-family: $base__font--family;
  font-size: $base__font--size;
  color: $base__font--color;
}

// ----------------------------------------------
// LINK STYLES
// ----------------------------------------------

.link {
  @extend %links;
}

// ----------------------------------------------
// BLOCKQUOTE STYLES
// ----------------------------------------------

.blockquote {
  border-left: solid #57E1C0 9px;
  font-size: 24px;
  font-style: italic;
  padding-left: .8em;
  line-height: 1.2;
  margin: 1em 1.4em auto 1em;
}

// ----------------------------------------------
// HEADLINE--PRIMARY STYLES
// ----------------------------------------------

.headline--primary {
  @extend %headline-primary;
}

// ----------------------------------------------
// HEADLINE--SECONDARY STYLES
// ----------------------------------------------

.headline--secondary {
  @extend %headline-secondary;
}

.grid__col--8 .headline--secondary {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0em;
} // targets typography headline


.grid__col--4 .headline--secondary {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 2em;
} // targets form elements headline

// ----------------------------------------------
// MEDIA QUERIES - LARGE
// ----------------------------------------------

.headline--primary {
  @include mq(large) {
    margin-top: 1em;
  }
}

.headline--secondary {
  @include mq(large) {
    margin-left: 0.5em;
  }
}

.grid__col--8 .headline--secondary,
.grid__col--4 .headline--secondary {
    @include mq(large) {
      margin-top: 3em;
      margin-bottom: 1em;
      margin-left: 0;
    }
} // targets typography and form elements headlines

.blockquote {
  @include mq(large) {
    width: 90%;
    margin-left: 1em;
    padding-left: 1.2em;
  }
}
